<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link th:href="@{webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}" rel="stylesheet"/>
        <link rel="stylesheet" href="./css/nijiDB.css"/>
        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.0/js/jquery.tablesorter.min.js"></script>
        <script type="text/javascript" th:src="@{./js/nijiDB.js}"></script>
        <title>nijiDB</title>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <form action="#" th:action="@{/nijiDB}" method="post">
                        <div class="input-group">
                          <input type="text" name="keyword" class="form-control" placeholder="Search for..." />
                          <span class="input-group-btn">
                            <input class="btn btn-default" type="submit" value="検索" />
                          </span>
                        </div>
                    </form>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped sort-table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>名前</th>
                                <th>チャンネル名</th>
                                <th>登録者数</th>
                                <th>総再生回数</th>
                                <th>総動画数</th>
                                <th>チャンネル作成日</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="member : ${memberList}">
                                <td th:text="${member.id}"></td>
                                <td th:text="${member.name}"></td>
                                <td th:text="${member.channel_name}"></td>
                                <td>
                                    <div th:text="${member.subscriber}" class="text-right"></div>
                                </td>
                                <td>
                                    <div th:text="${member.viewCount}" class="text-right"></div>
                                </td>
                                <td>
                                    <div th:text="${member.videoCount}" class="text-right"></div>
                                </td>
                                <td>
                                    <div th:text="${member.dateTime}" class="text-right"></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>