<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link th:href="@{webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}" rel="stylesheet"/>
        <script th:href="@{webjars/jquery/3.5.0/js/jquery.min.js}"></script>
        <script th:href="@{webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
        <title>nijiDB</title>
    </head>
    <body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>名前</th>
                    <th>チャンネル名</th>
                    <th>チャンネルid</th>
                    <th>登録者数</th>
                    <th>総再生回数</th>
                    <th>総動画数</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="member : ${memberList}">
                    <td th:text="${member.id}"></td>
                    <td th:text="${member.name}"></td>
                    <td th:text="${member.channel_name}"></td>
                    <td th:text="${member.channel_id}"></td>
                    <td>
                        <div th:text="${member.subscriber}" class="text-right"></div>
                    </td>
                    <td>
                        <div th:text="${member.viewCount}" class="text-right"></div>
                    </td>
                    <td>
                        <div th:text="${member.videoCount}" class="text-right"></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>